/* About Section */

.about {
  padding: var(--space-4xl) 0;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
  gap: 5rem;
}

/* Left & Right */

.about__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Section Title */

.section__subtitle {
  color: var(--primary-color);
  font-size: var(--fs-base);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section__title {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: var(--fw-bold);
  color: var(--text-primary);
}


/* Stats */

.about__stats {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.about__stat-card {
  flex: 1;
  min-width: 140px;

  padding: 1.5rem;

  background: var(--surface-color);

  border: 1px solid var(--border-color);
  border-radius: var(--radius-lg);

  text-align: center;

  transition: var(--transition-normal);
}

.about__stat-card:hover {
  transform: translateY(-6px);
}

.about__stat-number {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

.about__stat-label {
  margin-top: .5rem;
  color: var(--text-secondary);
}

/* Image  */

.about__image-wrapper {
  position: relative;

  width: 420px;
  height: 420px;
}

.about__image {
  width: 100%;
  height: 100%;

  overflow: hidden;

  border-radius: var(--radius-xl);

  border: 1px solid var(--border-color);
}

.about__image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Responsive */

@media (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about__left {
    order: 1;
  }

  .about__right {
    order: 2;
    align-items: center;
  }

  .about__image-wrapper {
    width: 320px;
    height: 320px;
  }

  .about__stats {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 4rem 0;
  }

  .about__image-wrapper {
    width: 260px;
    height: 260px;
  }

  .about__stats {
    flex-direction: column;
    width: 100%;
  }

  .about__stat-card {
    width: 100%;
  }
}