.navbar {
  position: fixed;
  inset: 0 0 auto;
  width: 100%;
  padding: 20px 0;
  z-index: var(--z-navbar);
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar__nav {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
}

.navbar__link {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 0.95rem;
}

.navbar__cta {
  border: none;
  border-radius: var(--radius-full);
  padding: 12px 24px;
  cursor: pointer;
}

.navbar__menu-btn {
  display: none;
}


@media (max-width: 991px) {

  .navbar__nav,
  .navbar__cta {
    display: none;
  }

  .navbar__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;

    font-size: 2rem;
    color: var(--text-primary);

    cursor: pointer;
  }
}