.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: var(--z-navbar);

  transition: all 0.35s ease;
}

.navbar__container {
  max-width: var(--navbar-width);
  height: var(--navbar-height);

  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--navbar-radius);

  background: transparent;
  border: 1px solid transparent;

  transition: all 0.35s ease;
}

.navbar--scrolled .navbar__container {
  background: var(--navbar-bg);

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-color: var(--navbar-border);

  box-shadow: var(--navbar-shadow);
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar__nav {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
}

.navbar__link {
  background: transparent;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  font-size: 0.95rem;
}

.navbar__cta {
  border: none;
  border-radius: var(--radius-full);
  padding: 12px 24px;
  cursor: pointer;
}

.navbar__menu-btn {
  display: none;
}

/* MobileMenu css */

.mobile-menu {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;

  background: #ffffff;
  
  
  padding: 2rem;
  
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.mobile-menu__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.mobile-menu__cta {
  width: fit-content;
  padding: 12px 28px;
  border-radius: 999px;
  margin-top: 1rem;
  margin: 2rem auto 0;
}

.mobile-menu--open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}




@media (max-width: 1024px) {

  .navbar__nav,
  .navbar__cta {
    display: none;
  }

  .navbar__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;

    font-size: 2rem;
    color: var(--text-primary);

    cursor: pointer;
  }
  
  .mobile-menu .navbar__link {
    color: var(--text-dark);
  }
}